 

.ui-outer-north{
    background: #3F72DB;
}

.ui-outer-resizer-north{
    background: #3F72DB;
}

#sitetitle a{
	color: #FFFFFF;
}

#subtitle{
	background: #2862db;
	color: #FFFFFF;
}

