<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.Controls.Examples\packages.config" />
  <repository path="..\src\Orc.Controls.Tests\Orc.Controls.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.Controls\Orc.Controls.NET40\packages.config" />
</repositories>